<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'Allumer',
    'list-group-item-danger': appareilStatus === 'Eteint'
  }"
>
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}
  </h4>
  <a [routerLink]="[id]">Détail</a>

  <button
    type="button"
    class="btn btn-success"
    style="margin: 0px 10px 0px 10px;"
    (click)="onSwitchOn()"
    [disabled]="appareilStatus === 'Allumer'"
  >
    Allumer
  </button>

  <button
    type="button"
    class="btn btn-danger"
    (click)="onSwitchOff()"
    [disabled]="appareilStatus === 'Eteint'"
  >
    Eteindre
  </button>
</li>
